body {
  background-color: #f5f4f4;
}
.imgWrapper {
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 35rem;
  display: flex;
  flex-direction: column;
  .buttonWrapper {
    display: flex;
    justify-content: center;
  }
  img {
    display: block;
    width: 90rem;
    margin: auto;
  }

  button {
    height: 1rem;
    width: 12rem;
    font-size: 3rem;
    // margin: 0 2rem;
    // border-radius: 50%;
    // border: 1px solid red;
    outline: none;
    background-color: #1e212d;
    color: #e7e6e1;
    margin: 12rem 2rem;
    cursor: pointer;
    &:hover {
      background-color: #e7e6e1;
      color: #1e212d;
      transition: all 2s ease-in-oute;
    }
  }
}
