body {
  background-color: #f5f4f4;
}
.imgWrapper {
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 50rem;
  display: flex;
  flex-direction: column;
  .buttonWrapper {
    display: flex;
    justify-content: center;
  }
  img {
    display: block;
    width: 90rem;
    margin: auto;
  }
  button {
    height: 8rem;
    width: 8rem;
    font-size: 3rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #1e212d;
    color: #faf3e0;
    margin: 2rem 4rem;
    cursor: pointer;
    &:hover {
      background-color: #faf3e0;
      color: #1e212d;
      border: 1px solid #1e212d;
    }
  }
}
