body {
  background-color: #f5f4f4;
}
.imgWrapper {
  text-align: center;
  margin-top: 30rem;
  margin-bottom: 50rem;
  //   border: 1px solid red;
  display: flex;
  flex-direction: column;
  .buttonWrapper {
    display: flex;
    justify-content: center;
  }
  img {
    display: block;
    width: 90rem;
    margin: auto;
  }
  button {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: none;
    background-color: #8ac4d0;
    color: #28527a;
    margin: 2rem 4rem;
  }
}
